<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl }}">
          JKAN
        </a>
        <span class="navbar-burger burger" data-hook="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu" data-hook="navbar-menu">
        <div class="navbar-end">
          <div class="tabs is-right">
            <ul>
              <li><a href="{{ site.demo_url }}">Demo</a></li>
              <li><a href="#get-started">Get Started</a></li>
            </ul>
            <span class="navbar-item">
              <a class="button is-white is-outlined" href="{{ site.repo_url }}">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span title="Hello from the other side">View Source</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
