<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css">
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WHHL24"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WHHL24');</script>
  <!-- End Google Tag Manager -->

  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">{{ site.title }}</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ site.demo_url }}" class="pure-menu-link">Demo</a></li>
        <li class="pure-menu-item"><a href="#get-started" class="pure-menu-link">Get Started</a></li>
        <li class="pure-menu-item"><a href="{{ site.repo_url }}" class="pure-menu-link">Source Code</a></li>
      </ul>
    </div>
  </div>

  {{ content }}

</body>
</html>
